# Dependencies
node_modules/

# Bundle output
dist/

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Editor
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# Temporary files
*.log
tmp/
temp/
